.footer {
  background-color: #000;
}

.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 100px;
  align-items: center;
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #ccc;
}

.footer-contato li {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  color: #fff;
  margin-bottom: 30px;
}

.footer-contato li a {
  color: #fff;
}

.footer-copy {
  grid-column: 1/ -1;
  font-size: 1.125rem;
  color: #8f8f8f;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form label {
  margin: 0 auto;
  font-size: 2rem;
  color: #fff;
}

.form input,
textarea {
  width: 50%;
  margin: 20px auto;
  height: 50px;
  font-size: 2rem;
  border-radius: 10px;
}

.redes {
  display: flex;
  gap: 30px;
  font-size: 3rem;
  margin: 0 auto;
}

.redes i {
  color: #fff;
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .footer-contato li {
    font-size: 1.5rem;
  }
  .form {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .footer-container {
    gap: 20px;
    flex-wrap: wrap;
  }

  .footer-texto {
    flex-wrap: wrap;
    width: 300px;
  }
}
