.introducao {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}

.introducao h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
  position: relative;
}

.introducao h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url(../img/detalhe.svg) no-repeat center;
  position: absolute;
  top: -15px;
  left: -40px;
  z-index: -1;
}

.introducao p {
  font-size: 1.5rem;
  color: #525252;
}
.introducao .redes i {
  color: #000;
  margin-top: 40px;
  gap: 10px;
  margin-left: 5px;
  display: block;
}
.experiencia .subtitulo {
  font-size: 6rem;
  max-width: 12ch;
  text-align: center;
  margin-top: 60px;
}

.introducao .redes i:hover {
  color: green;
}

.botao-contato {
  text-decoration: none;
  /* background-color: gray; */
  width: 200px;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #525252;
}
a {
  text-decoration: none;
  color: #fff;
  z-index: 5;
}
.botao-contato:hover {
  background-color: black;
  color: #fff;
}

@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .introducao h1 {
    font-size: 2rem;
  }
  .introducao h1::before {
    width: 30px;
    height: 10px;
    left: 0px;
  }
}

@media (max-width: 400px) {
  .introducao {
    grid-template-columns: 1fr;
  }
  .introducao img {
    display: none;
  }
}
